body {
	background-color: silver;
}

#centerCircle {
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

	height: 350px;
	width: 350px;
	border-radius: 200px;
	background-color: ghostwhite;
}

.PayArea {
	position: relative;
	left: 77px;
	top: 250px;
	width: 100px;
}

#sandwiches {
	position: absolute;
	left: 10px;
	top: 10px;
	background-color: ghostwhite;
	border-radius: 20px;
	width: 450px;
	height: 300px;
}

.sandwich {
	background-color: darkgrey;
	margin: 10px;
	height: 50px;
	width: 150px;
	text-align: center;
	color: white;
	font-weight: bold;
}

#taskInput {
	position: absolute;
	top: 200px;
	left: 104px;
	width: 150px;
}
#number {
	position: absolute;
	top: 30px;
    left: 0;
    right: 0;
    margin: auto;
	border-radius: 40px;
	width: 150px;
	height: 150px;
	background-color: white;
	text-align: center;
	 line-height: 160px;
	 font-family: sans-serif;
	 font-size: xx-large;
}


